[Unit]
Description=Kalembang Alarm Controller
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/orangepi/kalembang/api
Environment="PATH=/home/orangepi/kalembang/api/.venv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="PYTHONUNBUFFERED=1"

ExecStart=/home/orangepi/kalembang/api/.venv/bin/uvicorn kalembang.main:app --host 0.0.0.0 --port 8088

Restart=always
RestartSec=5

# Stop signals
TimeoutStopSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
